
.movieContainer{
    display: flex;
    padding-top: 1vw;
    width: 1300px;

}

.moviePoster{
    width: 150px;
    cursor: pointer;
    border-radius: 5%;
}

.movieCard{
    width: 150px;
    margin: 0 0.7vw;
}
.movieName{
    font-weight: 700;
    color: #000;
    font-size: 1em;
    word-wrap: normal;
    cursor: pointer;
    text-decoration: none;
}
.realisedDate{
    color: #919191;
}